
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
main{
    

}
header{
    display: grid;
    grid-template-columns: auto auto auto;
    
    border: 2px dotted blue;
    width: 100%;
    background-color: grey;
    padding: 10px;
}
ul{
    list-style-type: none;
    
}
li{
    
    display: inline-block;
    background-color: rgb(94, 93, 93);
    padding: 3px 3px 3px 3px;
    
}
.in{
    grid-column: 1/2;
}
.bi{
    grid-column-start: 2;
    grid-column-end: 3;
}
.me{
    grid-column-start: 3;
    
}
h3{
    
    color: rgba(255, 235, 205, 0.822);
}